/target/
/.classpath
/.project
/.settings/
/userinfo.txt
/bot.info
/message.txt
/PartyBotCommandID.txt
/MessageIDs/
/BotData/
/honorablePromotion/
/discordbot.properties
/ssl-keystore
/src/test/
/messageID
/arena/
/encounter/
/king/
/tax/
/bitbucket message/
/test/
/party/links/Channel Links
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/game_config/
/testing/
/dungeon.png
/Thumbs.db
/party/links/Channel Links.json
/bug reports/
/party/
/local.properties
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_accessadmin.KqpDJg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_accessadmin.KqpDJg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_backupoperator.R9Ifpg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_backupoperator.R9Ifpg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_datareader.To823g.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_datareader.To823g.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_datawriter._tp55w.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_datawriter._tp55w.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_ddladmin.hGWOrg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_ddladmin.hGWOrg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_denydatareader.2lWItw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_denydatareader.2lWItw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_denydatawriter.iqHLwA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_denydatawriter.iqHLwA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_owner.souIfA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_owner.souIfA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/db_securityadmin.Dj5jKg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/db_securityadmin.Dj5jKg.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/dbo.sYMBAA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/dbo.sYMBAA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/guest.2C3iBQ.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/guest.2C3iBQ.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/master.YiqNvw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/master.YiqNvw.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/Discord_Bot.kwCePQ/schema/sys.zb4BAA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/DiscordBotTest.TTh8yQ/schema/sys.zb4BAA.meta
/.idea/dataSources/3305bd03-541d-4fc8-933e-a0facfbb666f/storage_v2/_src_/database/master.YiqNvw/schema/sys.zb4BAA.meta
