/target/
/.classpath
/.project
/.settings/
/userinfo.txt
/bot.info
/message.txt
/PartyBotCommandID.txt
/MessageIDs/
/BotData/
/honorablePromotion/
/discordbot.properties
/ssl-keystore
/src/test/
/messageID
/arena/
/encounter/
/king/
/tax/
/bitbucket message/
/test/
/party/links/Channel Links
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/game_config/
/testing/
/dungeon.png
/Thumbs.db
