target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/copilot.data.migration.ask2agent.xml
.idea/go.imports.xml
*.iws
*.iml
*.ipr

discordbot.properties
apns/
players/